@import '../../assets/variables.scss';

.box {
    position: relative;
    display: block;
    width: 12em;
    height: 6em;
    padding: 2em;
    border-radius: 1em;
    color: $offwhite;
    text-align: center;
    background: linear-gradient(45deg, $offpurple, $offblue);

    @media (max-width: 767.99px) {
        width: 8em;
        height: 4em;
        padding: 1em;
    }

    &-white {
        color: $offdarkgrey;
        background: darken($offwhite,15);
    }

    &-list {
        border-radius: 1em;
        display: inline-block;
        position: relative;
        min-width: 12em;
        min-height: 6em;
        background: linear-gradient(45deg, rgba($offpurple,0.25), rgba($offblue,0.25));
        box-shadow: 0 0 2em rgba(0,0,0,0.1);

        @media (max-width: 767.99px) {
            min-width: 8em;
            min-height: 4em;
        }

        .box {
            box-shadow: none;
        }

        &.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
            transition: $transition;
        }

        &-white {
            background: rgba(darken($offwhite,10),0.5);
        }
    }

    &-list[cdkDropListOrientation="horizontal"] {
        display: flex;
        flex-direction: row;
    }
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: $transition;
}

.hidden {
    display: none;
}